<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name=".KumuApp"
    package="com.birdsquad.kumu">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".KumuApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".SpeciesNameActivity" />
        <activity
            android:name=".ImagesActivity"
            android:parentActivityName=".SpeciesNameActivity" />
        <activity
            android:name=".FormActivity"
            android:parentActivityName=".ImagesActivity" />
        <activity
            android:name=".FormActivity2"
            android:parentActivityName=".FormActivity" />
        <activity
            android:name=".FormActivity3"
            android:parentActivityName=".FormActivity2" />
        <activity
            android:name=".FormActivity4"
            android:parentActivityName=".FormActivity3" />
        <activity
            android:name=".FormActivity5"
            android:parentActivityName=".FormActivity4" />
        <activity
            android:name=".FormActivity6"
            android:parentActivityName=".FormActivity5" />
        <activity
            android:name=".IncompleteFormsActivity"
            android:parentActivityName=".SpeciesNameActivity" />
        <activity
            android:name=".HistoricalFormsActivity"
            android:parentActivityName=".SpeciesNameActivity" />
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".SpeciesNameActivity" />
        <activity android:name=".SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>